.nav-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
.card-containe{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }